<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

	<div class="demo-grid-1 mdl-grid">
	    <div class="mdl-cell mdl-cell--6-col" > 
	  		<h5>New User</h5>

			<%= render 'nform' %>

		</div>
	</div>
</section>