<footer class="mdl-mini-footer" style="position:absolute; bottom: 0px; width:100%;">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo">Osman 2015 &copy; </div>
    <ul class="mdl-mini-footer--link-list">
      <li><a href="#">Help</a></li>
      <li><a href="#">Privacy & Terms</a></li>
    </ul>
  </div>
</footer>