<footer class="mdl-mini-footer" style="position:absolute; bottom: 0px; width:100%; height:50px;">
  <div class="mdl-mini-footer--left-section">
    <div class="mdl-logo">Osman 2015 &copy; </div>
    <ul class="mdl-mini-footer--link-list">
      
    </ul>
  </div>
</footer>